server.host: "0.0.0.0"
{{ telemetry_settings }}
xpack.encryptedSavedObjects.encryptionKey: "something_at_least_32_characters"
xpack.fleet.outputs:
  - id: fleet-default-output
    name: default
    is_default: true
    is_default_monitoring: true
    type: elasticsearch
    hosts: ["https://{{ elastic_host }}:9200"]
    ssl.verification_mode: none
xpack.fleet.packages:
  - name: fleet_server
    version: latest
  - name: system
    version: latest
xpack.fleet.agentPolicies:
  - name: Fleet-Server-Policy
    id: fleet-server-policy
    namespace: default
    package_policies:
      - name: fleet_server-1
        package:
          name: fleet_server
