---
# Load datas
- import_playbook: data.yml
  vars:
    data_path: "../ad/{{domain_name}}/data/"
  tags: 'data'

- name: "Setup vulnerabilities with tasks"
  hosts: domain
  tasks:
    - include_role:
        name: "vulns/{{vuln}}"
      vars:
        vulns_vars : "{{ lab.hosts[dict_key].vulns_vars[vuln] | default({}) }}"
        domain: "{{lab.hosts[dict_key].domain}}"
        domain_username: "{{domain}}\\Administrator"
        domain_password: "{{lab.domains[domain].domain_password}}"
      loop: "{{lab.hosts[dict_key].vulns | default([]) }}"
      loop_control:
        loop_var: vuln

    - include_role:
        name: "ps"
      vars:
        script_path: "../ad/{{domain_name}}/scripts"
        domain: "{{lab.hosts[dict_key].domain}}"
        domain_username: "{{domain}}\\Administrator"
        domain_password: "{{lab.domains[domain].domain_password}}"
        ps_script: "{{script_path}}/{{item}}"
      loop: "{{lab.hosts[dict_key].scripts | default([]) }}"
  ignore_errors: yes


#- name: Deny Users
#  hosts: srv02
#  gather_facts: no
#  tasks:
#    - name: Deny Users group access to C:\Destroyer_Access
#      ansible.windows.win_acl:
#        path: 'C:\Destroyer_Access'
#        user: 'Users'
#        rights: 'Read,Write,Modify,FullControl,Delete'
#        type: deny
#        state: present
#      ignore_errors: yes
